body {
    font-family: 'Kiwi Maru', serif;
}
.logo {
    height: 10%;
    width: 10%;
}

@media (min-width: 700px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
  }
